        /* Universal */

body{
    font-family: 'Work Sans', sans-serif;

}
 /* header part nav */
 .header{
    background-color:  rgba(255, 144, 14, 0.1);
    
 }
 .nav-header{
    font-size: 30px;
    font-weight: 800;
    margin-left: 140px;
    margin-top: 50px;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
   
 }
 ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 243px;
    margin-top: 60px;
 }
 ul a{
    color: #424242;
    text-decoration: none;
    justify-content: space-between;
 }
 
 .header-description{
    text-align: center;
  
 }
 .banner-header{
            font-size: 50px;
            font-weight: 700;
            color: #131313;
            line-height: 30px;
 }
 .banner-description{
        color: #727272;
 }
 .btn-primary{
    background-color: #FF900E;;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 8px;
    border: 0px;
    padding: 21px 25px;
 }
 .banner-image  img{
        width: 1350px;
        height: 600px;
        margin: 40px;
        padding: 40px;         
 }
    
        /* main part stat */
        .container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* gap: 20px; */
            padding: 30px;
            margin-top: -48px;
        }
        .quick-list{
            /* text-align: center;  */
            align-items:center;
            margin-top: 200px;
            padding-left: 50px;
        }
        .quick-feature{
            font-size: 45px;
            font-size: 500;
            line-height: 20px;
         
        }
        .quick{
            color: #727272;
        }
        .Features{
            color: #FF900E;
        }
        /* feature-love and enjoy */
        .container-Features{
          margin:40px ;
         padding: 20px;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         /* grid-row-gap: 20px ; */
        }
        /* .features-love{
         margin: 5px;
         padding: 10px;
         row-gap: 30px;
        } */

        .feature-love{
         border-left: 5px solid  #FF900E;
       
        }
        .feature{
         color: #131313;
         font-size: 45px;
         font-weight: 700;
         line-height: 35px;
         /* border-left: 3px solid  #FF900E; */
        
        }
        .dextop-mobile{
         margin-top: 20px;
         width: 75%;
         padding: 15px;
         border:2px solid black;
         border-radius: 8px;
         border: 0px;
         box-shadow: 10px 10px 40px gray;
         padding-right: 50px;
        }
        .button{
         position: relative;
         right: 70px;
         margin-top: -110px;
         

        }
        .experiance-time{
               font-size: 65px;
               line-height: 35px;
               padding: 46px 42px;
        }
        .experience{
         font-size: 25px;
        }
        /* our work  */
        .work-img{
                height: 300px;
                width: 100%;
                border-radius: 7px;
        }
        .work-img:hover{
            
        }
        .our-works{
            margin: 40px;
            padding: 20px;
        }
        .dedication{
            color: #FF900E;
        }
        .work{
            text-align: center;
        }
        .special{
            border: 2px solid rgb(223, 210, 186);
        }
        .our-dedication{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
           margin-bottom: 20px;
            
        }
        .extra{
            padding: 20px 60px;
            margin-left: 500px;
            
        }

        /* some facts part start */
        .some-fact{
            margin-left: 60px;
        }
        .fatcs{
         font-size: 30px;
         font-weight: 700;
        }
        
        .icons{
         margin-left: 100px;
         display: grid;
         grid-template-columns: repeat(4,1fr);
         gap: 50px;
        
        
         padding: 30px;
        }
        .award-winning:hover{
         background-color: coral;
         height: 200px;
         width: 200px;
         font-size: 25px;
       
        }
        .award-winning{
         height: 150px;
         width: 150px;
         text-align: center;
         border: 3px solid  #FF900E;
         border-radius: 9px;
        
        }
         /* our sponsors part  */
         .our-sponsor{
            margin: 20px;
            padding: 20px 30px;
         }
        .sponors-company{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 20px;
        padding: 20px;
       
        }
       
        .img-fluid{
            padding: 8px;
           
        }
        .image-fluid{
            opacity: 40%; 
            filter: grayscale(100%);
        }
       
        .sponsors-header{
            text-align: center;
            color: #131313; 
            font-size: 30px;
            font-weight: 700;
        }
        .sponsor{
         text-align: center;
        }
        /* footer section */
        .footer{
         background-color: #FFF4E7;
         height: 100px;
         text-align: center;
         margin: 60px;
         border-radius: 5px;
       
         
        }
        .copyright{
         color: #727272;
         padding-top: 40px;
        
        }
       /* meadia quiery  */
       /* mobile view */
       @media only screen and (max-width:688px) {
            .banner-header{
                        line-height: 60px;
            }
           ul a {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
           }
           .navbar{
            display: grid;
             grid-template-columns: repeat(1, 1fr); 
            align-items:center ;
            text-align: left;

            
           
           }
           .banner-image  img{
            width: 100%;
            height: 300px;
           }
           .container{
            grid-template-columns: repeat(1,1fr);
           }
           .quick-feature{
            line-height: 45px;
           }
           .container-Features{
                        grid-template-columns: repeat(1, 1fr);
           }
           .features-enjoy img{
                        width: 100%;
                        margin-top: 10px;
                        padding: 10px;
           }

           .our-dedication{
                        grid-template-columns: repeat(1,1fr);       
           }
           .extra{
            margin: 0;
        }
           .icons{
            grid-template-columns: repeat(1, 1fr);
           }
           .sponors-company{
                grid-template-columns: repeat(1, 1fr);
               padding-top: 30px;
           }
           .image-fluid{
                margin: 10px;
                padding: 10px;
                text-align: center;
                align-items: center;
           }
       }
       /* tab view */
       @media only screen and (min-width:689px) and (max-width:992px){
        .navbar{
            display: grid;
             grid-template-columns: repeat(1, 1fr); 
            align-items:center ;
            text-align: left;
       }
       .banner-image  img{
        width: 90%;
        height: 300px;
        margin: 20px;
       }
       .container{
        grid-template-columns: repeat(1,1fr);
       }
       .container-Features{
        grid-template-columns: repeat(1, 1fr);
        
            }
        .features-enjoy img{
            width: 100%;
            margin-top: 10px;
            padding: 10px;
      }
      .our-dedication{
        grid-template-columns: repeat(2,1fr);
        
    }
    .extra{
        margin: 0;
    }
         .icons{
             grid-template-columns: repeat(2, 1fr);
        }
        .sponors-company{
            grid-template-columns: repeat(2, 1.5fr);
            padding-top: 30px;
            
       }
    }